In [2]:
# Import the Pandas dependency
import pandas as pd
import re

In [3]:
# Read the contacts string data into a Pandas DataFrame.
contact_string_df = pd.read_csv("../Crowdfunding-ETL/contacts_string_data.csv")
contact_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [4]:
# Extract the four-digit contact ID number.
contact_string_df['contact_id'] = contact_string_df['contact_info'].str.extract(r'(\d{4})')
contact_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [5]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', contact_string_df)
name

TypeError: expected string or bytes-like object

In [6]:
# Extract the four-digit contact ID number.
contact_string_df['email'] = contact_string_df['contact_info'].str.extract(r'([\S+@\S+])')
contact_string_df.head()

                                        contact_info contact_id email
0  contact_id 4661 name Cecilia Velasco email cec...       4661     c
1  contact_id 3765 name Mariana Ellis email maria...       3765     c
2  contact_id 4187 name Sofie Woods email sofie.w...       4187     c
3  contact_id 4941 name Jeanette Iannotti email j...       4941     c
4  contact_id 2199 name Samuel Sorgatz email samu...       2199     c